<div class="row">
  <div class="col-lg-12">
      <h1 class="page-header">Animations</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
  <div class="col-lg-3 col-md-6">
      <div class="btn-animataion color-change">
          <button type="button" class="btn btn-outline btn-primary">Color change</button>
       </div>
  </div>
  <div class="col-lg-3 col-md-6">
        <div class="btn-animataion shrink">
            <button type="button" class="btn btn-outline btn-primary">Shrink</button>
         </div>
    </div>
    <div class="col-lg-3 col-md-6">
            <div class="btn-animataion grow">
                <button type="button" class="btn btn-outline btn-primary">Grow</button>
             </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="btn-animataion hvr-grow-rotate">
                <button type="button" class="btn btn-outline btn-primary">Grow Rotate</button>
             </div>
        </div>
</div>
<div class="row">
        <div class="circle-animate"></div>
</div>

