.search-box{
    background:white;
    list-style: none;
    padding: 0px 15px;
    margin: 0;
    border: 1px solid #cccccc;
    border-radius: 3px;
    margin-bottom:20px;
    box-shadow: 0px 2px 5px 1px #ccc; 
}
